body {
  font-family: serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

nav ul {
  list-style: none;
  background: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover, nav ul li a.active {
  background: #111;
}

#wrapper {
  margin: 20px;
  padding: 20px;
}

#email {
  text-align: center;
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
